@{
    Layout = "_Layout";
}

@model OKAY.Assignment.MVC.Models.PropertyViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PropertyViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.bedroom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.bedroom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.leasePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.leasePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.owner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.createdDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.updatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.updatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
